{% block navbarLeftSide %}
    <div class="col-3">
        <div class="nav flex-column" aria-orientation="vertical" >
            <a class="nav-link navbarPersonalSpace" href="../public/index.php?action=adminProfile&login={{ session.login }}">Accueil espace personnel</a>
            <a class="nav-link navbarPersonalSpace" href="../public/index.php?action=registerBookPage&login={{ session.login }}">Enregistrer un livre</a>
            <a class="nav-link navbarPersonalSpace" href="../public/index.php?action=getMemberBookList&login={{ session.login }}">Liste de livres</a>
            <a class="nav-link navbarPersonalSpace" href="../public/index.php?action=searchBookPage">Rechercher un livre</a>
            <a class="nav-link navbarPersonalSpace" href="../public/index.php?action=friendsPage&login={{ session.login }}">Cercle d'amis</a>
            <a class="nav-link navbarPersonalSpace" href="../public/index.php?action=searchBookFriendPage&login={{ session.login }}">Rechercher un livre parmi ses ami(e)s</a>
            <a class="nav-link navbarPersonalSpace" href="../public/index.php?action=accountPage&login={{ session.login }}">Compte</a>
            <a class="nav-link navbarPersonalSpace" href="../public/index.php?action=statisticsPage">Statistiques du site</a>
        </div>
    </div>
{% endblock %}

