{% extends "template.html.twig" %}

{% block title %}{{ session.login }}{% endblock %}

{% block content %}
<p>profil de membre</p>

    <!--<form action="../public/index.php?action=recoverGoogleBook" method="post">-->
    <label for="ISBN">Veuillez rentrer l'ISBN de l'ouvrage souhaité</label><br/>
    <p>Veuillez indiquer uniquement les chiffres</p>
    <input type="text" id="ISBN" name="ISBN"/>
    <input type="submit" id="ISBNSubmission" value="Soumettre l'ISBN"/>
    <!--</form>-->

    {% block bookInformations %}
        <div id="bookInformations">
            <form action="../public/index.php?action=registerBookDatas" method="post">
                <div>
                    <label for="bookTitle">Titre</label><br />
                    <input type="text" id="bookTitle" name="bookTitle" />
                </div>

                <div>
                    <label for="bookAuthors">Auteur(s)</label><br />
                    <input type="text" id="bookAuthors" name="bookAuthors"/>
                </div>

                <div>
                    <label for="bookPublishedDate">Date de publication</label><br />
                    <input type="text" id="bookPublishedDate" name="bookPublishedDate" />
                </div>

                <div>
                    <label for="bookDescription">Résumé</label><br />
                    <textarea id="bookDescription" name="bookDescription"></textarea>
                </div>

                <div>
                    <label for="bookISBN">ISBN</label><br />
                    <input type="text" id="bookISBN" name="bookISBN" />
                </div>

                <div>
                    <label for="bookNbPages">Nombre de pages</label><br />
                    <input type="text" id="bookNbPages" name="bookNbPages"/>
                </div>

                <input type="submit" value="Enregistrer le livre" />
            </form>
        </div>
    {% endblock %}

    {% block memberBookListArray %}
        <h5>Liste de livres</h5>
        <table>
            <tr>
                <th>Auteur</th>
                <th>Titre</th>
                <th>Résumé</th>
                <th>Année de publication</th>
                <th>ISBN</th>
                <th>Nombre de pages</th>
                <th>Supprimer de la liste</th>
            </tr>
            {% for book in memberBookList %}
                <tr>
                    <td>{{ book.author }}</td>
                    <td>{{ book.title }}</td>
                    <td>{{ book.summary }}</td>
                    <td>{{ book.publishingYear }}</td>
                    <td>{{ book.ISBN }}</td>
                    <td>{{ book.nbPages }}</td>
                    <!-- Confirm before deletion -->
                    <td><a href="../public/index.php?action=deleteBook&bookId={{ book.id }}"><i class="fas fa-trash alt"></i></a></td>
                </tr>
            {% else %}
                <p>Vous n'avez pas d'ouvrages enregistrés pour l'instant.</p>
            {% endfor %}
        </table>

    {% endblock %}

{% endblock %}