{% extends "template.html.twig" %}

{% block title %}Compte - {{ session.login }}{% endblock %}

{% block content %}
    <div class="row personalPage">
        {% block navbarLeftSide %}
            {% if session.status == 'admin' %}
                {% include 'adminPages/navbarAdmin.html.twig' %}
            {% else %}
                {% include 'memberPages/navbarMember.html.twig' %}
            {% endif %}
        {% endblock %}


        {% block displayContent %}
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">

                {% block profileBanner %}
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 generalProfileBanner">

                        {% include 'commonPages/profileBanner.html.twig' %}

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 profileBannerText">
                            <h3>Compte</h3>
                        </div>

                    </div>
                {% endblock %}

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    {% block managingAccount %}
                        <div id="accountCredentials">
                            <h4>Changer ses informations</h4>
                            <p>Veuillez entrer vos identifiants actuels.</p>
                            <form action="../public/index.php?action=verifyInformations" method="post">
                                <div class="formElement">
                                    <label for="verifyLogin">Pseudo</label><br />
                                    <input type="text" id="verifyLogin" name="verifyLogin" value="{{ session.login }}" readonly/>
                                </div>
                                <div class="formElement">
                                    <label for="verifyPassword">Mot de passe</label><br />
                                    <input type="password" id="verifyPassword" name="verifyPassword" required/>
                                </div>
                                <div class="formElement">
                                    <input type="submit" value="Confirmer mes identifiants" class="submitButton"/>
                                </div>
                            </form>
                        </div>
                    {% endblock %}

                    {% block booklistSharedWith %}
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="friendShareBooklistWith">
                            <p>Récapitulatif des personnes avec qui vous partagez votre liste de livres :</p>
                            {% for member in members %}
                                {% if member.loginShareBooklist1 == session.login %}
                                    {{ member.loginMember }} <a href="../public/index.php?action=stopSharingBooklist&login={{ session.login }}&loginFriend={{ member.loginMember }}" onclick="if(confirm('Êtes-vous sûr(e) de vouloir supprimer l\'accès à votre liste de partage à {{ member.loginMember }} ?')) return true; else return false"><i class="fas fa-ban"></i></a>
                                {% elseif member.loginShareBooklist2 == session.login %}
                                    {{ member.loginMember }} <a href="../public/index.php?action=stopSharingBooklist&login={{ session.login }}&loginFriend={{ member.loginMember }}" onclick="if(confirm('Êtes-vous sûr(e) de vouloir supprimer l\'accès à votre liste de partage à {{ member.loginMember }} ?')) return true; else return false"><i class="fas fa-ban"></i></a>
                                {% elseif member.loginShareBooklist3 == session.login %}
                                    {{ member.loginMember }} <a href="../public/index.php?action=stopSharingBooklist&login={{ session.login }}&loginFriend={{ member.loginMember }}" onclick="if(confirm('Êtes-vous sûr(e) de vouloir supprimer l\'accès à votre liste de partage à {{ member.loginMember }} ?')) return true; else return false"><i class="fas fa-ban"></i></a>
                                {% endif %}

                            {% else %}
                                <p>Vous ne partagez votre liste de livres avec personne pour l'instant.</p>
                            {% endfor %}
                        </div>
                    {% endblock %}
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}