{% extends "template.html.twig" %}

{% block title %}Liste de livres - {{ session.login }}{% endblock %}

{% block content %}
    <div class="row personalPage">
        {% block navbarLeftSide %}
            {% if session.status == 'admin' %}
                {% include 'adminPages/navbarAdmin.html.twig' %}
            {% else %}
                {% include 'memberPages/navbarMember.html.twig' %}
            {% endif %}
        {% endblock %}


        {% block displayContent %}
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">

                {% block profileBanner %}
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 generalProfileBanner">

                        {% include 'commonPages/profileBanner.html.twig' %}

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 profileBannerText">
                            <h3>Liste de livres</h3>
                        </div>

                    </div>
                {% endblock %}

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    {% block nbBooks %}
                        <div id="booksTotal">
                            Vous avez {{ totalBooks }} livre(s) enregistré(s).
                        </div>
                    {% endblock %}
                    {% block memberBookListArray %}
                        <div>
                            <em>Les livres sont classés par titre suivant l'ordre alphabétique.</em>
                        </div>
                        <table class="table-responsive">
                            <tr class="book">
                                <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1">Auteur</th>
                                <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">Titre</th>
                                <th class="col-lg-3 col-md-3 col-sm-3 col-xs-3">Résumé</th>
                                <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1">Année de publication</th>
                                <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">ISBN</th>
                                <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1">Nombre de pages</th>
                                <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1">Modifier la fiche du livre</th>
                                <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1">Supprimer de la liste</th>
                            </tr>
                            {% for book in memberBookList %}
                                <tr class="book">
                                    <td class="col-lg-1 col-md-1 col-sm-1 col-xs-1">{{ book.author }}</td>
                                    <td class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><a href="../public/index.php?action=displayBook&bookId={{ book.id }}">{{ book.title }}</a></td>
                                    <td class="col-lg-3 col-md-3 col-sm-3 col-xs-3">{{ book.summary[:100] }}...</td>
                                    <td class="col-lg-1 col-md-1 col-sm-1 col-xs-1">{{ book.publishingYear }}</td>
                                    <td class="col-lg-2 col-md-2 col-sm-2 col-xs-2">{{ book.ISBN }}</td>
                                    <td class="col-lg-1 col-md-1 col-sm-1 col-xs-1">{{ book.nbPages }}</td>
                                    <td class="col-lg-1 col-md-1 col-sm-1 col-xs-1"><a href="../public/index.php?action=editBookDatas&bookId={{ book.id }}"><i class="fas fa-edit"></i></a></td>
                                    <td class="col-lg-1 col-md-1 col-sm-1 col-xs-1"><a href="../public/index.php?action=deleteBook&bookId={{ book.id }}" onclick="if(confirm('Êtes-vous sûr(e) de vouloir supprimer ce livre de votre liste ?')) return true; else return false"><i class="fas fa-trash alt"></i></a></td>
                                </tr>
                            {% else %}
                                <p>Vous n'avez pas d'ouvrages enregistrés pour l'instant.</p>
                            {% endfor %}
                        </table>
                    {% endblock %}
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}