{% extends "template.html.twig" %}

{% block title %}{{ session.login }}{% endblock %}

{% block content %}
    <div class="row">
        {% block navbarLeftSide %}
            {% if session.status == 'admin' %}
                {% include 'adminPages/navbarAdmin.html.twig' %}
            {% else %}
                {% include 'memberPages/navbarMember.html.twig' %}
            {% endif %}
        {% endblock %}


        {% block displayContent %}
            <div class="col-9">

                {% block nbBooks %}
                    <p>Vous avez {{ totalBooks }} livre(s) enregistré(s).</p>
                {% endblock %}
                {% block memberBookListArray %}
                    <h5>Liste de livres</h5>
                    <table>
                        <tr>
                            <th>Auteur</th>
                            <th>Titre</th>
                            <th>Résumé</th>
                            <th>Année de publication</th>
                            <th>ISBN</th>
                            <th>Nombre de pages</th>
                            <th>Modifier la fiche du livre</th>
                            <th>Supprimer de la liste</th>
                        </tr>
                        {% for book in memberBookList %}
                            <tr>
                                <td>{{ book.author }}</td>
                                <td>{{ book.title }}</td>
                                <td>{{ book.summary }}</td>
                                <td>{{ book.publishingYear }}</td>
                                <td>{{ book.ISBN }}</td>
                                <td>{{ book.nbPages }}</td>
                                <td><a href="../public/index.php?action=editBookDatas&bookId={{ book.id }}"><i class="fas fa-edit"></i></a></td>
                                <!-- Confirm before deletion -->
                                <td><a href="../public/index.php?action=deleteBook&bookId={{ book.id }}"><i class="fas fa-trash alt"></i></a></td>
                            </tr>
                        {% else %}
                            <p>Vous n'avez pas d'ouvrages enregistrés pour l'instant.</p>
                        {% endfor %}
                    </table>
                {% endblock %}

            </div>
        {% endblock %}
    </div>
{% endblock %}