{% extends "template.html.twig" %}

{% block title %}{{ book.title }}{% endblock %}

{% block content %}
    <div class="row personalPage">
        {% block navbarLeftSide %}
            {% if session.status == 'admin' %}
                {% include 'adminPages/navbarAdmin.html.twig' %}
            {% else %}
                {% include 'memberPages/navbarMember.html.twig' %}
            {% endif %}
        {% endblock %}


        {% block displayContent %}
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                {% block profileBanner %}
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" class="generalProfileBanner">

                        {% include 'commonPages/profileBanner.html.twig' %}

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 profileBannerText">
                            <h3>Détails du livre</h3>
                        </div>

                    </div>
                {% endblock %}

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bookViewDisplay">
                    {% for book in bookDatas %}
                        <div class="bookViewDiv">
                            <em class="bookView">Auteur</em> : {{ book.author }}
                        </div>

                        <div class="bookViewDiv">
                            <em class="bookView">Titre</em> : {{ book.title }}
                        </div>

                        <div class="bookViewDiv">
                            <em class="bookView">Résumé</em> : {{ book.summary }}
                        </div>

                        <div class="bookViewDiv">
                            <em class="bookView">Année de publication</em> : {{ book.publishingYear }}
                        </div>

                        <div class="bookViewDiv">
                            <em class="bookView">ISBN</em> : {{ book.ISBN }}
                        </div>

                        <div class="bookViewDiv">
                            <em class="bookView">Nombre de pages</em> : {{ book.nbPages }}
                        </div>

                    {% endfor %}
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}