{% extends "template.html.twig" %}

{% block title %}Modification de données de livres{% endblock %}

{% block content %}
    <div class="row">
        {% block navbarLeftSide %}
            {% if session.status == 'admin' %}
                {% include 'adminPages/navbarAdmin.html.twig' %}
            {% else %}
                {% include 'memberPages/navbarMember.html.twig' %}
            {% endif %}
        {% endblock %}

        {% block editBookDatas %}
            {% for book in bookDatas %}
                <form action="../public/index.php?action=registerEditBookDatas&bookId={{ book.id }}" method="post">
                    <div>
                        <label for="editAuthor">Auteur</label><br />
                        <input type="text" name="editAuthor" id="editAuthor" value="{{ book.author }}"/>
                    </div>
                    <div>
                        <label for="editTitle">Titre</label><br />
                        <input type="text" name="editTitle" id="editTitle" value="{{ book.title }}"/>
                    </div>
                    <div>
                        <label for="editSummary">Résumé</label><br />
                        <textarea name="editSummary" id="editSummary">{{ book.summary }}</textarea>
                    </div>
                    <div>
                        <label for="editPublishingYear">Année de publication</label><br />
                        <input type="text" name="editPublishingYear" id="editPublishingYear" value="{{ book.publishingYear }}"/>
                    </div>
                    <div>
                        <label for="editISBN">ISBN</label><br />
                        <p>Ce champ n'est pas modifiable.</p>
                        <input type="text" name="editISBN" id="editISBN" value="{{ book.ISBN }}" readonly/>
                    </div>
                    <div>
                        <label for="editNbPages">Nombre de pages</label><br />
                        <input type="text" name="editNbPages" id="editNbPages" value="{{ book.nbPages }}" />
                    </div>
                    <div>
                        <input type="submit" value="Enregistrer les modifications"/>
                    </div>
                </form>
            {% endfor %}
        {% endblock %}
    </div>
{% endblock %}