{% extends "template.html.twig" %}

{% block title %}Modification des données de "{{ book.title }}"{% endblock %}

{% block content %}
    <div class="row personalPage">
        {% block navbarLeftSide %}
            {% if session.status == 'admin' %}
                {% include 'adminPages/navbarAdmin.html.twig' %}
            {% else %}
                {% include 'memberPages/navbarMember.html.twig' %}
            {% endif %}
        {% endblock %}

        {% block editBookDatas %}
            <div class="col-9">

                {% block profileBanner %}
                    <div class="col-lg-12" class="generalProfileBanner">

                        {% include 'commonPages/profileBanner.html.twig' %}

                        <div class="col-lg-12 profileBannerText">
                            <h3>Edition des données du livre</h3>
                        </div>

                    </div>
                {% endblock %}

                <div class="col-lg-12" id="editBook">
                    {% for book in bookDatas %}
                        <form action="../public/index.php?action=registerEditBookDatas&bookId={{ book.id }}" method="post">
                            <div class="formElement">
                                <label for="editAuthor">Auteur : </label>
                                <input type="text" name="editAuthor" id="editAuthor" value="{{ book.author }}" required/>
                            </div>
                            <div class="formElement">
                                <label for="editTitle">Titre : </label>
                                <input type="text" name="editTitle" id="editTitle" value="{{ book.title }}" required/>
                            </div>
                            <div class="formElement">
                                <label for="editSummary">Résumé</label><br/>
                                <textarea name="editSummary" id="editSummary" required>{{ book.summary }}</textarea>
                            </div>
                            <div class="formElement">
                                <label for="editPublishingYear">Année de publication : </label>
                                <input type="text" name="editPublishingYear" id="editPublishingYear" value="{{ book.publishingYear }}" required/>
                            </div>
                            <div class="formElement">
                                <label for="editISBN">ISBN : </label>
                                <input type="text" name="editISBN" id="editISBN" value="{{ book.ISBN }}" readonly/>
                            </div>
                            <div class="formElement">
                                <label for="editNbPages">Nombre de pages : </label>
                                <input type="text" name="editNbPages" id="editNbPages" value="{{ book.nbPages }}" required/>
                            </div>
                            <div class="formElement">
                                <input type="submit" value="Enregistrer les modifications"/>
                            </div>
                        </form>
                    {% endfor %}
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}