{% extends "template.html.twig" %}

{% block title %}Cercle d'ami(e)s - {{ session.login }}{% endblock %}

{% block content %}
    <div class="row personalPage">
        {% block navbarLeftSide %}
            {% if session.status == 'admin' %}
                {% include 'adminPages/navbarAdmin.html.twig' %}
            {% else %}
                {% include 'memberPages/navbarMember.html.twig' %}
            {% endif %}
        {% endblock %}


        {% block displayContent %}
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                {% block profileBanner %}
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" class="generalProfileBanner">

                        {% include 'commonPages/profileBanner.html.twig' %}

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 profileBannerText">
                            <h3>Cercle d'ami(e)s</h3>
                        </div>

                    </div>
                {% endblock %}

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="friendsCircle">
                        {% block reminderFriends %}
                            {% if friends is empty %}
                                <p>Vous n'avez pas d'ami(e)s ajouté(e)s pour l'instant.</p>
                            {% else %}
                                <p>Vous avez ajouté ces personnes à votre cercle d'ami(e)s :</p>
                                {% for friend in friends %}
                                    <ul>
                                        {% if friend is not null %}
                                            <li>{{ friend }}<a href="../public/index.php?action=deleteSharedBooklist&login={{ session.login }}&loginFriend={{ friend }}" onclick="if(confirm('Êtes-vous sûr(e) de vouloir supprimer {{ friend }} de votre liste de partage ?')) return true; else return false"><i class="fas fa-ban"></i></a></li>
                                        {% endif %}
                                    </ul>

                                {% endfor %}
                            {% endif %}
                        {% endblock %}
                    </div>


                    {% block friendsCircle %}
                        <div class="friendsCircle">
                            <p>Vous pouvez ajouter quelqu'un en entrant le pseudo de la personne que vous souhaitez ajouter.<br/>
                                Un email sera alors envoyé à la personne afin qu'il/elle puisse accepter ou refuser ce partage.<br/>
                                Si la personne accepte votre demande, vous pourrez alors savoir si elle a déjà un ouvrage en rentrant l'ISBN de celui-ci sur la page 'Rechercher un livre parmi ses ami(e)s'.
                            </p>

                            <form action="../public/index.php?action=reachFriend&login={{ session.login }}" method="post" class="addFriend">
                                <label for="loginFriend">Entrez le pseudo de la personne que vous souhaitez ajouter</label><br/>
                                <input type="text" id="loginFriend" name="loginFriend" required/>
                                <input type="submit" value="Envoyer une demande d'ami(e)" class="submitButton"/>
                            </form>

                            <p class="addFriend">
                                {{ message }}
                            </p>
                        </div>
                    {% endblock %}

                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}