{% extends "template.html.twig" %}

{% block title %}Partage de liste de livres{% endblock %}

{% block content %}
    <div>
        <p>{{ loginFriend }}, souhaitez vous partager votre liste de livres avec {{ login }} ?</p>
        <a href="../public/index.php?action=shareBookListWithFriend&login={{ login }}&loginFriend={{ loginFriend }}">oui</a>
        <a href="../public/index.php?action=notShare&login={{ login }}&loginFriend={{ loginFriend }}">non</a>
    </div>
{% endblock %}